@import "tailwindcss";
@layer theme, base, components, utilities;

#login-confirm::backdrop,
#how-to-play::backdrop {
  background: rgba(0,0,0,.35);
  backdrop-filter: blur(2px);
}

@theme {
  @keyframes cloudDrift {
    from { transform: translateX(-30vw); }
    to   { transform: translateX(130vw); }
  }
  
  @keyframes cloudsMove {
    0% { background-position: 0px 30%; }
    100% { background-position: -2000px 30%; }
  }

  @keyframes cloudsMoveFront {
    0% { background-position: 0px 50%; }
    100% { background-position: -2000px 50%; }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility animate-clouds-back {
  animation: cloudsMove 120s linear infinite;
}

@utility animate-clouds-front {
  animation: cloudsMoveFront 60s linear infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
